<article *ngIf="!isFetching">
  <img src="../../../assets/mock-img.jpg" alt="foto de vivienda" />
  <div class="content">
    <section class="header-text">
      <p class="reference"><strong>Ref: </strong>{{ detail.id }}</p>
      <div class="display-flex-align-center flex-row-justify-start price-box">
        <div class="price">{{ detail.price | thousandsSeparator }} €</div>
        <div
          *ngIf="detail.isPriceReduced"
          class="display-flex-align-center text-red"
        >
          <div class="previous-price">
            {{ detail.previousPrice | thousandsSeparator }} €
          </div>
          <img
            src="../../../assets/icons/arrow_downward_red.svg"
            alt="icono de descuento"
          />
          <p>{{ detail.discount }}%</p>
        </div>
      </div>
      <p class="fees">Gastos e impuestos no incluidos</p>
      <p class="title">
        {{ detail.title }}
      </p>
    </section>

    <section class="body-text">
      <div class="location">
        <img src="../../../assets/icons/location.svg" alt="ubicaion" />
        <span
          >{{ detail.province | titlecase }} ·
          {{ detail.city | titlecase }}</span
        >
      </div>

      <div class="specifications">
        <img src="../../../assets/icons/dimensions.svg" alt="dimesiones" />
        <span>{{ detail.constructedArea }} m²</span>
        <img src="../../../assets/icons/bedroom.svg" alt="habitaciones" />
        <!-- TODO create method to generate correct copy -->
        <span>{{ detail.bedrooms }} habitaciones</span>
        <img src="../../../assets/icons/bathroom.svg" alt="baños" />
        <span>{{ detail.bathrooms }} baños</span>
      </div>
    </section>

    <section class="description-box">
      <p class="header">Descripción</p>

      <p class="description">
        {{ detail.description }}
      </p>
    </section>
  </div>

  <!-- TODO add functionality -->
  <app-button class="back-button" [buttonText]="buttonText"></app-button>
</article>

<div class="loader">
  <img *ngIf="isFetching" src="../../../assets/loader.svg" alt="loader" />
</div>
