<article class="product-card">
  <img src="{{ getImageUri() }}" alt="foto de la propiedad" />
  <div class="body">
    <div class="product-details">
      <div class="display-flex-align-center flex-row-justify-start">
        <div class="actual-price">
          {{ property.price | thousandsSeparator }} €
        </div>
        <div *ngIf="property.isPriceReduced" class="display-flex-align-center text-red">
          <div class="previous-price">
            {{ property.previousPrice | thousandsSeparator }} €
          </div>
          <img
            src="../../../assets/icons/arrow_downward_red.svg"
            alt="icono de descuento"
          />
          <p>{{ property.discount }}%</p>
        </div>
      </div>

      <p class="description">
        {{ property.metaDescription }}
      </p>

      <div class="especifications">
        <p class="surface">{{ property.totalSurface }} m²</p>
        <p class="rooms">{{ getBedrooms() }}</p>
        <p class="bathrooms">{{ getBathrooms() }}</p>
      </div>
    </div>
  </div>
</article>
