<article class="product-card">
  <img src="../../../assets/mock-img.jpg" alt="foro de la propiedad" />

  <div class="body">
    <div class="product-details">
      <div class="price">
        <div class="actual-price">1.051.410 €</div>
        <div class="previous-price text-red">1.105.300 €</div>
        <div class="discount text-red">
          <img
            src="../../../assets/icons/arrow_downward_red.svg"
            alt="icono de descuento"
          />
          <p>5%</p>
        </div>
      </div>

      <p class="description">
        Piso en venta en calle Poeta Federico Garcia Lorca, València, Valencia
      </p>

      <div class="especifications">
        <p class="surface">131 m²</p>
        <p class="rooms">2 Habitaciones</p>
        <p class="bathrooms">2 Baños</p>
      </div>
    </div>
  </div>
</article>
