/* header.component.css */
header {
  min-height: 6rem;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .logo {
    width: 26rem;
  }

  
  @media only screen and (min-width: 768px) {
  }
  @media only screen and (min-width: 1200px) {
  }

  @media only screen and (min-width: 1900px) {
    .logo {
      width: 35rem;
    }
  }
}
