* {
font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

:root {
  --primary-primary-500: #de0e48;
  --grey-grey-300: #7e7e7e;
  --grey-light: #C3C3C3;
  --grey-grey-25: #f7f7f7;
  --grey-grey-800: #222;
  --Black-Aliceda: #333;
  --grey-grey-500: #3E3E3E;
  --white: #ffffff;
  --black: #000000;
  --red-red-500: #dc362e;
}
