body {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #de0e48;
  --grey: #7e7e7e;
  --grey-dark: #222;
  --grey-ultra: #333;
  --grey-light: #f7f7f7;
  --white: #ffffff;
  --black: #000000;
  --red: #dc362e;
}
