article {
  max-width: 600px;
  margin: 20px auto;

  p {
    text-align: start;
  }

  .image {
    img {
      max-width: 100%;
      height: auto;
    }

    button {
      z-index: 2;
      display: flex;
      position: relative;
      left: 0.3125rem;
      margin-top: -2.75rem;
      width: 8.5625rem;
      padding: 0.5rem 1rem;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      border-radius: 0.25rem;
      border: none;
      background-color: var(--white);
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.5rem;
      bottom: 1.25rem;
    }
  }

  .content {
    padding: 20px;

    .header-text {
      .reference {
        color: var(--Black-Aliceda);
        font-size: 0.75rem;
        font-weight: 400;
      }

      .price-box {
        margin-top: 1.25rem;
        gap: 1rem;
      }

      .price {
        color: var(--Black-Aliceda);
        font-size: 1.5rem;
        font-weight: 700;
      }

      .fees {
        color: var(--grey-grey-300);
        font-size: 0.625rem;
        font-weight: 400;
        line-height: 1rem;
        letter-spacing: 0.0125rem;
      }

      .title {
        color: var(--Black-Aliceda);
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: 1.25rem;
      }
    }

    .body-text {
      .location {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 1rem;

        span {
          font-size: 1rem;
          font-weight: 500;
          line-height: 125%;
          margin-left: 0.5rem;
          color: var(--grey-grey-500);
        }
      }

      .specifications {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 1.25rem;

        img {
          width: 1.5rem;
          margin: 0 0.5rem 0 auto;

          &:first-child {
            margin: 0 0.5rem 0 0;
          }
        }

        span {
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.25rem;
          color: var(--Black-Aliceda);
        }
      }
    }

    .description-box {
      border-top: 1px solid var(--grey-light);
      border-bottom: 1px solid var(--grey-light);
      margin-top: 1.5rem;

      .header {
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 500;
        margin: 1rem 0 0.5rem;
      }

      .description {
        font-size: 0.875rem;
        line-height: 1.25rem;
        margin-bottom: 1rem;
        color: var(--grey-grey-300);
      }
    }
  }

  .back-button {
    justify-content: center;
    display: flex;
  }
}

.loader {
  display: flex;
  justify-content: center;
  margin-top: 5rem;

  img {
    width: 7rem;
  }
}
